@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #628e75, #1a4855);
    height: 100vh;
}

h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-variant: small-caps;
    line-height: 4rem;
    margin: 30px 0px;
    font-size: 50pt;
}

h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

p {
    width: 80%;
    display: inline-block;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.logo-principal {
    max-width: 150px;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: space-around;
    min-width: 12rem;
}

.logo > img {
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.content-left {
    width: 50%;
    height: 100%;
}

.assista-agora {
    font-weight: 600;
    padding: 10px;
    margin-left: 15px;
    margin-right: 20px;
    width: 160px;
    height: 40px;
    background-color: #658E76;
    color: white;
    border: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transform: skew(-30deg);
}

.assista-agora:hover span {
    text-decoration: underline;
}

.logo-play {
    position: relative;
    left: -170px;
    top: 4px;
    cursor: pointer;
}

.assista-trailer {
    font-weight: 600;
    padding: 10px;
    width: 160px;
    color: white;
    background-color: #48756a;
    border-style: none;
    border: 2px solid #658E76;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transform: skew(-30deg);
}

span {
    display: inline-block;
    transform: skew(30deg);
}

.assista-trailer:hover {
    background: linear-gradient(135deg, transparent 45px, #658E76);
}

.img-chihiro {
    min-width: 9rem;
    height: 100%;
}

.img-chihiro > img {
    min-width: 300px;
    height: 25rem;
}

/* Media queries */

@media (max-width: 950px) {
    .content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .content-left {
        min-width: 90%;
        margin: 0 auto 30px auto;
    }

    .assista-trailer {
        display: none;
    }
}

@media (max-width: 400px) {
    .header {
        width: 100%;
    }

    .img-chihiro > img {
        max-width: 400px;
        max-height: 300px;
    }
}

@media (max-width: 375px) {
    .header {
        flex-direction: column-reverse;
        justify-content: space-around;
        height: 8rem;
        width: 100%;
    }
    .logo-principal {
        margin: 0 auto;
    }

    .logo {
        justify-content: space-between;
    }
}

@media (max-width: 320px) {
    .img-chihiro > img {
        max-width: 200px;
        max-height: 250px;
    }
}
